<div class="box">
    <p>Select cluster to display</p>

    <div class="controls">
        <div class="hor">
            <div id="show-semantic-clustered-posts">
                <b>Cluster Index</b>
                <div>
                    <input type="number" name="show-semantic-cluster-posts-num"
                        id="show-semantic-cluster-posts-num" min="0" , value="0">
                </div>
            </div>
        </div>
        <button id="show-semantic-cluster-posts-btn">Show Posts</button>
        
    </div>

</div>