<div class="box">

    <h3 class="mb-2">Store HN Post Metadata locally</h3>

    <section id="api-filters">
        <p>
            First, we need to fetch some post metadata from HN API 
            and store it locally for further analysis. 
            This will take time, but you'd only need to do it once.
        </p>
        <details >
            <summary>Add data to local database</summary>
            <p>
                Just specify the range of <code>id</code>s and hit the <code class="mark">Get Data</code> button.
            </p>
    
            {% include "partials/set_hn_api_filters.html" %}

            <button id="seed-submit-btn">Get Data</button>
    
        </details>
    </section>

</div>