<div class="box">

    <section id="api-filters">
        <details style="margin-bottom: 20px;">
            <summary>Fetch data from HN</summary>
            <p>
                First, let's get some data from HN for further analysis.
                Just specify the range of <code>id</code>s and hit the <code>Get Data</code> button.
            </p>

            <p>
                This will take time, but you'd only need to do it once.
            </p>
    
            {% include "partials/get_data_from_hn.html" %}
    
        </details>
    </section>
    

    <section id="db-filters">
        <p>
            Let's filter out the posts that would be used for analysis by <code>id</code>,
            <code>score</code> and <code>number of comments</code>.
            You can change these settings any time later.
        </p>
    
        {% include "partials/set_db_filters.html"%}
    
    </section>

    <section id="cluster-filters">
        <p>
            Specify clustering-related parameters, 
            like <code>number of clusters</code>
            and BERT <code>model</code> to be uses for embeddings.
        </p>

        {% include "partials/set_clustering_filters.html" %}

    </section>

    <button id="semantic-cluster-btn">Cluster Posts</button>   

</div>