<div class="box">

    <h3 class="mb-2">Store HN Post Metadata Locally</h3>

    <section id="api-filters">
        <p>
            First, we need to fetch some post metadata from HN API 
            and store it locally for further analysis. 
            This will take time, but you'd only need to do it once.
        </p>
        <details >
            <summary>Add data to local database</summary>
            <p>
                Just specify the time range and hit the <code class="mark">Get Data</code> button. 
                This is going to take quite some time...
            </p>
    
            {% include "partials/form_filters/set_hn_api_filters.html" %}

            <div class="log-box">
                <div id="log-textbox" class="box"></div>
            </div>

            <div class="button-box">
                <button id="seed-submit-btn">Get Data</button>
                <button id="seed-cancel-btn">Cancel</button>
            </div>
    
        </details>
    </section>

</div>