<div class="box">
    <p>
        Hit <code class="mark">Show Posts</code> button to see all the posts that were clustered together.
    </p>

    <div class="controls">
        <div class="hor">
            <div id="show-semantic-clustered-posts">
                <b>Cluster</b>
                <div>
                    <input class="box p-2 my-2" type="number" name="show-semantic-cluster-posts-num"
                        id="show-semantic-cluster-posts-num" min="0" , value="0">
                </div>
            </div>
        </div>
        <button id="show-semantic-cluster-posts-btn">Show Posts</button>
        
    </div>

</div>