<ul class="nav nav-tabs" id="figures-tab" role="tablist">
    
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="same-label-tab-btn" data-bs-toggle="tab" 
            data-bs-target="#counts-bar-tab" aria-selected="true">
            <h2>Post Count</h2>
        </button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link" id="same-label-tab-btn" data-bs-toggle="tab" 
            data-bs-target="#embed-scatter-tab" aria-selected="false">
            <h2>2D Embeddings</h2>
        </button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link" id="same-label-tab-btn" data-bs-toggle="tab" 
            data-bs-target="#wordcloud-tab" aria-selected="false">
            <h2>Word Clouds</h2>
        </button>
    </li>

</ul>

<div class="tab-content" id="tab-content">

    <section class="tab-pane fade show active" id="counts-bar-tab" role="tabpanel" aria-labelledby="counts-bar-tab">
        <div class="box">
            <p>Amount of posts in each cluster.</p>
            <div id="counts-bar-plot-root"></div>
        </div>
    </section>

    <section class="tab-pane fade" id="embed-scatter-tab" role="tabpanel" aria-labelledby="embed-scatter-tab">
        <div class="box">
            <p>
                Post embeddings projected to 2D plane. 
            </p>
            <div id="embed-pca-plot-root"></div>
            <p>
                Embedding for each post is calculated by collecting all comments 
                that belong to given post, calculating all the individual sentence embeddings 
                for these comments and averaging the result.
            </p>
            <p>
                BERT models that were use here produce <code>768</code>- (default) 
                or <code>384</code>-dimensional (mini) embeddings vectors. 
                The figure above shows the 2D projecttion of the embeddings 
                that was obtained with PCA. 
                Linear dimensionality-reduction methods like PCA are simple and quick,
                but the result might not always look satisfactory. 
                If you want clusters to be more, well, clustered, 
                you can try running nonlinear t-SNE method. 
                Just push the <code class="mark">Prettify</code> button below. 
                It will take some time...
            </p>
            <p>
                <code>TODO: t-SNE for dim reduction</code>
            </p>
            <div id="embed-tsne-plot-root"></div>
        </div>
    </section>

    <section class="tab-pane fade" id="wordcloud-tab" role="tabpanel" aria-labelledby="wordcloud-tab">
        <div class="box">
            <p>Generate word cloud for each cluster.</p>
            <div id="wordcloud-plot-root"></div>

            <button id="wordcloud-btn">Generate WordCloud</button>

            <div id="wordcloud-plot-root"></div>
        </div>
    </section>

</div>