<form action="/" method="POST" class="box">

    <p>Select the range of data to display.</p>

    <div class="hor">
        <div id="test-filter-by-date">
            <h4>Filter by Date</h4>
            <div>
                <label for="show-date-begin-range" id="show-date-begin-label">From:</label>
                <br>
                <input type="range" name="show-date-begin-range" id="show-date-begin-range" min="1" ,
                    max="10" , value="1">
            </div>
            <div>
                <label for="show-date-end-range" id="show-date-end-label">To:</label>
                <br>
                <input type="range" name="show-date-end-range" id="show-date-end-range" min="1" ,
                    max="10" , value="10">
            </div>
        </div>
    </div>

    <button type="submit" id="test-submit-btn">Submit</button>
</form>