<div class="controls">
    <div class="hor">
        <div id="seed-filter-by-id"> <!--style="display: none;">-->
            <b>Filter by Id</b>
            <div class="hor-item">
                <div>
                    <label for="seed-id-begin-range" id="seed-id-begin-label">From:</label>
                    <br>
                    <input type="range" name="seed-id-begin-range" id="seed-id-begin-range" min="1" , max="10" ,
                        value="1">
                </div>
                <div>
                    <label for="seed-id-end-range" id="seed-id-end-label">To:</label>
                    <br>
                    <input type="range" name="seed-id-end-range" id="seed-id-end-range" min="1" , max="10" ,
                        value="10">
                </div>
            </div>
        </div>

        <div id="seed-filter-by-date" class="date-selector"><!--style="display: none;"-->
            <b>Filter by Date</b>
            <div class="hor-item" style="display: none;">
                <div>
                    <label for="seed-date-begin-range" id="seed-date-begin-label">From:</label><br>
                    <input type="range" name="seed-date-begin-range" id="seed-date-begin-range">
                </div>
                <div>
                    <label for="seed-date-end-range" id="seed-date-end-label">To:</label><br>
                    <input type="range" name="seed-date-end-range" id="seed-date-end-range">
                </div>
            </div>
            
            <div id="seed-date-begin-root" class="hor-item">From: <br></div>
            <div id="seed-date-end-root" class="hor-item">To: <br></div>

        </div>
    </div>
    
</div>