<div class="controls">
    <div class="hor">

        <div id="show-filter-by-date" class="my-3">
            <b>Filter by Date</b>
            <div class="hor-item">
                <div id="show-date-begin-root">From: <br></div>
            </div>
            <div class="hor-item">
                <div id="show-date-end-root">To: <br></div>
            </div>
        </div>

        <div id="show-filter-by-comments" class="my-3">
            <b>Filter by the Number of Comments</b>
            <div class="hor-item">
                <div>
                    <label for="show-comm-begin-range" id="show-comm-begin-label">From:</label><br>
                    <input class="box inpt" type="number" name="show-comm-begin-range" id="show-comm-begin-range" 
                        min="5" , max="300" , value="5">
                </div>
                <div>
                    <label for="show-comm-end-range" id="show-comm-end-label">To:</label><br>
                    <input class="box inpt" type="number" name="show-comm-end-range" id="show-comm-end-range" 
                        min="1" , max="300" , value="10">
                </div>
            </div>
        </div>

        <div id="show-filter-by-score" class="my-3">
            <b>Filter by Score</b>
            <div class="hor-item">
                <div>
                    <label for="show-score-begin-range" id="show-score-begin-label">From:</label><br>
                    <input class="box inpt" type="number" name="show-score-begin-range" id="show-score-begin-range" 
                        min="1" , max="300" , value="1">
                </div>
                <div>
                    <label for="show-score-end-range" id="show-score-end-label">To:</label><br>
                    <input class="box inpt" type="number" name="show-score-end-range" id="show-score-end-range" 
                        min="1" , max="300" , value="10">
                </div>
            </div>
        </div>

    </div>    
</div>