.graph-container {
    width: 100%;
    height: 500px;
    padding: 0px;
}

.graph {
    width: 100%;
    height: 500px;
    fill: transparent;
}

.graph-btn {
    position: absolute;
    bottom: 20px;
    left: 20px;
}