<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HN Post Clusterer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/figures.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>

<body>

    <main class="container">

        <div id="alert-root" class="mt-5"></div>

        <h1 class="page-title mt-5">HN POST ORGANIZER</h1>
        <h5 class="page-title mt-3">
            Simple app that brings some extra order to HN posts by clustering similar posts together.
        </h5>

        <div id="api-root">
            {% include "partials/get_data_from_hn.html" %}
        </div>

        <div id="db-root">
            {% include "partials/get_data_from_db.html" %}
        </div>

        <div id="figure-root" style="display: none;">
            {% include "partials/show_figures.html" %}
        </div>

        <div id="select-root" style="display: none;">
            {% include "partials/select_cluster.html" %}
        </div>

        <div class="box" id="table-root" style="display: none;"></div>
    </main>

    <script>
        // General
        const container = document.querySelector(".container");
        const tabs = document.querySelectorAll(".nav-link");
        const alertRoot = document.querySelector("#alert-root");

        // Filter - HN api
        const seed = new Object();
        for (let filterBy of ["date", "id"]) {
            if (seed[filterBy] === undefined) {
                seed[filterBy] = new Object();
            }
            for (let loc of ["begin", "end"]) {
                if (seed[filterBy][loc] === undefined) {
                    seed[filterBy][loc] = new Object();
                }
                seed[filterBy][loc]["range"] = document.querySelector(`#seed-${filterBy}-${loc}-range`);
                seed[filterBy][loc]["label"] = document.querySelector(`#seed-${filterBy}-${loc}-label`);
            }
        }
        const seedSubmitBtn = document.querySelector("#seed-submit-btn");

        // Filters - DB
        const show = new Object();
        for (let filterBy of ["date", "id", "comm", "score"]) {
            if (show[filterBy] === undefined) {
                show[filterBy] = new Object();
            }
            for (let loc of ["begin", "end"]) {
                if (show[filterBy][loc] === undefined) {
                    show[filterBy][loc] = new Object();
                }
                show[filterBy][loc]["range"] = document.querySelector(`#show-${filterBy}-${loc}-range`);
                show[filterBy][loc]["label"] = document.querySelector(`#show-${filterBy}-${loc}-label`);
            }
        }

        // Filters - clustering
        const clustersNum = document.querySelector("#num-clusters-num");
        const semanticClusterBtn = document.querySelector("#semantic-cluster-btn");
        const transformerModelName = {"value":"sentence-transformers/all-distilroberta-v1"};//document.querySelector("#model-name-txt");
        
        // Figures
        const figureRoot = document.querySelector("#figure-root");
        const semanticClusterPlotRoot = document.querySelector("#semantic-cluster-plot-root");
        const countsBarPlotRoot = document.querySelector("#counts-bar-plot-root");
        
        const embedPcaPlotRoot = document.querySelector("#embed-pca-plot-root");
        const embedTsnePlotRoot = document.querySelector("#embed-tsne-plot-root");
        const embedTsneBtn = document.querySelector("#embed-tsne-btn");

        const pcaExplainedVarianceRoot = document.querySelector("#pca-explained-variance-root");
        const tsnePerplexityNum = document.querySelector("#tsne-perplexity-num");
        const tsneDimsNum = document.querySelector("#tsne-dims-num");
        
        const wordcloudInfo = document.querySelector("#wordcloud-info");
        const wordcloudBtn = document.querySelector("#wordcloud-btn");
        const wordcloudPlotRoot = document.querySelector("#wordcloud-plot-root");

        // Select Cluster
        const selectRoot = document.querySelector("#select-root");
        const showSemanticClusterPostsNum = document.querySelector("#show-semantic-cluster-posts-num");
        const showSemanticClusterPostsBtn = document.querySelector("#show-semantic-cluster-posts-btn");
        
        // Table
        const tableRoot = document.querySelector("#table-root");
        
    </script>

    <script src="{{url_for('static', filename='js/tabstyle.js')}}"></script>
    <script src="{{url_for('static', filename='js/general_utils.js')}}"></script>
    <script src="{{url_for('static', filename='js/form_utils.js')}}"></script>
    <script src="{{url_for('static', filename='js/db_utils.js')}}"></script>
    <script src="{{url_for('static', filename='js/table_utils.js')}}"></script>
    <script src="{{url_for('static', filename='js/cluster_utils.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>